.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

br {
    padding: 5px;
}

.hdl {
    background-color: #e0cf9b;
    color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
