*{
    font-family: 'open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

div img {
    display: block;
    width: 100%;
}

.flex-container {
    display: flex;
    margin: auto;
    max-width: 992px;
    min-width: 320px;
    paddin: 10px 15px;
    width: 100%;
}

header {
    align-items: center;
    background-color: #122A57;
    color: #fff;
    display: flex;
    height: 100px;
}

.list-items li a {
    color: blanchedalmond; 
}

header .list-items {
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    max-width: 260px;
    width: 100%;
}

header .menu {
    justify-content: space-between;    
}

.apresentacao {
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}

.apresentacao .texto-apresentacao {
    min-height: 200px;
}

.texto-apresentacao h1 {
    color: 3122A57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn {
    background-color: #122A57;
    border-radius: 30px;
    color: #fff;
    display: block;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    width: 220px;
}

#quem-somos {
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#quem-somos h2 {
    color: #122A57;
    display: flex;
    font-size: 32px;
    margin-bottom: 20px;
}

#quem-somos h2::before {
    background: #122A57;
    content: "";
    height: 50px;
    margin-right: 5px;
    position: relative;
    width: 5px;
}

#quem-somos p {
    margin-bottom: 10px;
    width: 90%;
}

#quem-somos img {
    min-width: 420px;
}

.container-extermo {
    background-color: #122A57;
    width: 100%;
}

#servicos {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

#servicos h2 {
    color:  #fff;
    font-size: 32px;
    margin-bottom: 20px;;
}

.list-servicos {
    display: flex;
    justify-content: space-between;
}


.list-servicos .item-servico {
    text-align: center;
}

.item-servico a {
    background-color:#fff;
    color: #122A57;
    border-radius: 30px;
    font-size: 12px;
    height: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    width: 220px;
}

.item-servico p {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;;
}

.item.item-servico img {
    font-weight: 700;
    width: 80%;
}

#planos {
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;
}

#planos h2 {
    font-size: 32px;
}

.list-planos {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}

.item-plano {
    border: 5px solid #122A57;
    flex: 1;
    margin-right: 20px;
    max-width: 240px;
    padding: 10px;
}

.item-plano .btn {
    margin: auto;
    margin: 20px auto 20px auto; 
}

.item-plano h3 {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}

.item-plano h3::after {
    content: "";
    background-color: #122A57;
    height: 3px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 100%;
}

.item-plano ul {
    flex-direction: column;
    display: flex;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.item-plano ul li {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.item-plano ul li::before {
    background-color: #122A57;
    content: "";
    margin-right: 5px;
    width: 10px;
    height: 10px;
}

footer {
    background-color: #122A57;
    display: flex;
    height: 70px;
}

footer .footer {
    align-items: center;
    color: white;
    justify-content: space-between;
}

/* mobile */
@media(max-width: 992px) {
    flex-direction: columns;
}

.apresentacao {
    flex-direction: column-reverse;
}

.apresentacao .texto-apresentacao {
    width: 100%;
}

#quem-somos {
    flex-direction: column-reverse;
}

#quem-somos img {
    margin: auto;
    min-width: 320px;
}


.list-servicos {
    flex-direction: column;
}

.item-servico img {
    margin: auto;
    width: 50%;
}

.list-planos {
    align-items: flex-start;
    flex-direction: column;
    margin: 20px;
}

.list-planos .item-plano {
    max-width: 90%;
    margin: auto;
    width: 100%;
    margin-bottom: 20px;
}